
body{
    width: 90%;
    background-color:rgb(236, 236, 236);
}
#img{
    height: 102px;
    width: 105px;
    border-radius: 100px;
    border: 1px solid #000000;

}

#text1{
    color: rgb(2, 148, 2);
     font-size: xxx-large;
     margin-bottom: 20px; 
}

#text2{
    font-size: xxx-large;
}

.nav-item:hover{
background-color: rgb(4, 236, 128);
border-radius: 50px;
--moz-transform: scale(1.1);
-webkit-transform: scale(1.1);
-o-transform: scale(1.1);
-ms-transform: scale(1.1);
transform: scale(1.1);
}

#navbarSupportedContent{
    padding-left: 60px;
}

#grid1{
    margin-left: 70px;
    margin-top: 90px;
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
}
#section1{
    margin-top: 120px;
    margin-left: 40px;
  padding-left: 90px;
}
#section2{
    margin-right: 45px;
}

#navbar{

    width: 1343px;
    margin-left: 5px;
margin-right: 5px; 
height: 110px;   
}
#img2{
 width: 610px;
 height: 600px;
padding-top: 5px;
}

.d-flex{
    margin-right: 50px;
}

.btn-primary{
    margin-left: 5px;
    margin-top: 20px;
   font-size: x-large;
   background-color: rgb(4, 221, 120);
   border-radius: 25px;
  padding: 7px 7px 9px 0px;
}


.btn-primary:hover{
    background-color: rgba(0, 195, 255, 0.87);
}

.nav-item{
    margin-left: 25px;
}


.bg-light{
background-color: rgb(136, 127, 255);
}


/*footer*/
.border-light{
    width: 1340px;
   padding-right: 50px;
   
   margin-left: -65px;
}

.footer{
    text-align:justify;
 
}

.border-light-subtle{
    width: 1340px;
    margin-left: -65px;
        height: 110px;

}
.btn-primary{

    width: 200px;
  
}


#carouselExampleControls{
   left: 115px;
   margin-bottom: 50px;
   margin-top: 50px;
   margin-left: 40px;
}

#face1{
    display: grid;
    grid-template-columns: auto auto auto ;
    
}
#face2{
    display: grid;
    grid-template-columns: auto auto auto ;
}
#face3{
    display: grid;
    grid-template-columns: auto auto auto ;
}
.carousel-control-prev-icon{
    margin-left: -250px;


}
.carousel-inner{
    margin-top: 110px;
}
.card-img-top{

    width: 250px;
    height: 240px;
    margin-left: 15px;
    margin-top: 10px;
    
}
.card-img-top:hover{
    -moz-transform: scale(1.1);
-webkit-transform: scale(1.1);
-o-transform: scale(1.1);
-ms-transform: scale(1.1);
transform: scale(1.1);
transition: 1ms;
}

.card{
    border-radius: 20px;
    background-color:rgb(252, 252, 252,.4);
    width: 18rem;
}

#catalog{
  margin-bottom: 20px;
  font-weight: lighter;
  margin-left: 460px;
  color: rgb(6, 163, 6);
}
#catalog2{
    margin-bottom: 80px;
    font-weight:bold;
    margin-left: 260px;
    
  }

  
  #catalog2:hover{
    color: rgb(22, 180, 22);
  }

  #imgcard{

    border-radius: 150px;
  }

/*juise*/

  #carousel1{

    display: grid;
    grid-template-columns: auto auto auto;
    margin-left: 5px;

  }


  #carousel2{

    display: grid;
    grid-template-columns: auto auto auto;
    margin-left: 5px;

    
  }


  #carousel3{

    display: grid;
    grid-template-columns: auto auto auto;
    margin-left: 5px;


    
  }

 .total{
    margin-bottom: 20px;
     color: #3ad110;
 }
  
 #carsul2{

    margin-bottom: 100px;
    margin-top: 150px;
    margin-left: 100px;
    
 }



#revers{

   margin-top: 170px;
    margin-left: -155px;
    left: 1px;
}
#next{
     margin-top: 170px;
  
}

.revers{

    margin-top: 170px;
    margin-left: -270px;

 }
 .next{
      margin-top: 170px;
  
 }


#card1{
    left:27px

}

#card2{
    left:15px

}

#allsal{
    color: green;
}


#itemnavbar{
    font-size: x-large;
     color: black;

}

#shop{

    width: 65px;
    height: 50px;
  cursor:grab;
margin-bottom: 0.77px;
border-radius: 18px 1px;
margin-left: 221px;
text-align: center;
background-color: rgb(0, 255, 106);
}





.card2{
    margin-left: -105px;
}
.card3{
    margin-left: -105px;
}
#carouselExampleFade{
    margin-left: 70px;
}

.bi-cart4{
margin-top: 15px;

}




/* Payment*/

.cart {
    border: 1px solid #ffffff;
    background-color:rgb(240, 248, 255) ;
    border-radius: 10px;
    padding: 25px;
   margin-left: 470PX;
    top: 450px;
    right: 10px;
    width: 270px;
    margin-bottom: 100px;
    }

    .checkout{
        border-radius: 5px;
    }

    .checkout:hover{
        background-color: rgb(6, 209, 209);
    }


#img3{
    width: 470px;
    height: 485px;
    border-radius: 10px;
    margin-left: 40px;
}
#sec2{
    margin-top: 80px;
}

#grid2{
    margin-left: 90px;
    margin-top: 170px;
    display: grid;
    grid-template-columns:auto auto;
    gap:30px;
    margin-bottom: 180px;
}


#a{
color: #3DCE15;
font-size:xxx-large;
font-weight: bolder;
margin-left: 60px;


}


#b{
    margin-left: 65px;
  margin-top: 20px;
  font-weight: bolder;
}

#c{
    font-size: larger;
    margin-left: 65px;
    margin-top: 20px;
}

#titlepaying{
    text-align: center;
    margin-bottom: 40px;
    color: rgb(23, 224, 23);
    margin-left: 47px;
    margin-top: 160px;
   
}

/*newcard*/
#CardBody{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 15px;
    text-align: left;
    font-size: larger;
    margin-bottom: 50px;

}

#CardBody a{
text-decoration: none;
color: rgb(23, 224, 23);

}
#CardBody span{
    font-weight:550;
}
#healthyfooter{
    font-family: 'Courier New';
      font-weight: bolder;
      margin-top: 50px;
      color: rgb(15, 206, 15);
      margin-left: -25px;
}


#pay{

    background-color: green;
}


/*responsive*/
@media only screen and (min-width: 430px) and  (max-width: 530px){
  
  #navbar{
    width: 100%;
    margin-left: 5px;
    margin-top: 5px;
  }



.border-light{
    width: 100%;
}


.border-light-subtle{

width: 100%;
}


.cart{
    margin-left: -50px;
}

#titlepaying{
    margin-left: -155px;
}


.carousel-inner{
    margin-left: -120px;
    margin-top: 30px;
}

#catalog2{
    font-size: larger;
    margin-left: 35px;
   
}
#catalog{
    margin-top: -40px;
}
#carsul2{
    margin-left: -80px;
}
.next{
    margin-left: -90px;
}

#healthyfooter{
    margin-left: 4px;
}


#text1{
   
     font-size: larger;
     margin-bottom: 20px; 
}

#text2{
    font-size: larger;
}

#button1{
    width: 80px;
    font-size: small;
    margin-left: -20px;
    text-align: right;
}

#grid1{
    margin-left: -90px;
}

#img2{
    width:260px;
    height: 280px;
}

#section1{
    margin-top: 30px;
}

#img3{

    width:220px;
    height: 240px; 
    margin-top: 20px;
}

#grid2{
    margin-left: -25px;
    margin-top: 110px;
}

#a{
    font-size:larger;
    font-weight: bolder;
    margin-left: 7px;
}

#b{
    margin-left: 7px;
    margin-top: 17px;
    font-weight: bolder;
}


#c{

    font-size: larger;
    margin-left: 7px;
    margin-top: 18px;
    width: 135px;
}
#sec2{
    margin-top: -20px;
    margin-left: -20px;
}

.next{
    margin-left: -170px;
}

.revers{
    margin-left: -325px;
}

.card{
    width: 150px;
    height: 200px;
}


#imgcard{
    width: 85px;
    height: 90px;
    margin-left: 20px;
}

#next{
    margin-left: 30px;
}

#revers{
    margin-left: -20px;
}

#carsul2{
    margin-left: -25px;
}

#card-title{
    font-size:small;
}

#card-text{
    font-size:small;
}

#allsal{
    font-size: small;
}
}

