
body{
    width: 90%;
    background-color:rgb(236, 236, 236);
}
#img{
    height: 110px;
    width: 124px;
    border-radius: 100px;
    
}

#button1{
    font-size: x-large;

}
.nav-item:hover{
background-color: rgb(4, 236, 128);
border-radius: 50px;
--moz-transform: scale(1.1);
-webkit-transform: scale(1.1);
-o-transform: scale(1.1);
-ms-transform: scale(1.1);
transform: scale(1.1);
}

#navbarSupportedContent{
    padding-left: 60px;
}

#grid1{
    margin-left: 70px;
    margin-top: 90px;
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
}
#section1{
    margin-top: 120px;
    margin-left: 40px;
  padding-left: 90px;
}
#section2{
    margin-right: 45px;
}

#navbar{

    width: 1340px;
    margin-left: 5px;
margin-right: 5px;    
}
#img2{
 width: 610px;
 height: 600px;
padding-top: 5px;
}

.d-flex{
    margin-right: 50px;
}

.btn-primary{
    margin-left: 5px;
    margin-top: 20px;
   font-size: x-large;
   background-color: rgb(4, 221, 120);
   border-radius: 30px;
  padding: 10px 17px 15px 15px;
}


.btn-primary:hover{
    background-color: rgb(140, 216, 63);
}

.nav-item{
    margin-left: 25px;
}


.bg-light{
background-color: rgb(136, 127, 255);
}


/*footer*/
.border-light{
    width: 1340px;
   padding-right: 50px;
   margin-left: 5px;
}

.border-light-subtle{
    width: 1340px;
    margin-left: 5px;
    height: 110px;

}
.btn-primary{

    width: 200px;
  
}


#carouselExampleControls{
   left: 115px;
}

#face1{
    display: grid;
    grid-template-columns: auto auto auto ;
    
}
#face2{
    display: grid;
    grid-template-columns: auto auto auto ;
}
#face3{
    display: grid;
    grid-template-columns: auto auto auto ;
}
.carousel-control-prev-icon{
    margin-left: -250px;
}
.carousel-inner{
    margin-top: 110px;
}
.card-img-top{

    width: 250px;
    height: 240px;
    margin-left: 15px;
    margin-top: 10px;
    
}
.card-img-top:hover{
    -moz-transform: scale(1.1);
-webkit-transform: scale(1.1);
-o-transform: scale(1.1);
-ms-transform: scale(1.1);
transform: scale(1.1);
transition: 1ms;
}

.card{
    border-radius: 20px;
}

#catalog{
  margin-bottom: 20px;
  font-weight: lighter;
  margin-left: 468px;
  color: rgb(6, 163, 6);
}
#catalog2{
    margin-bottom: 80px;
    font-weight:bold;
    margin-left: 290px;
  }

  
  #catalog2:hover{
    color: rgb(22, 180, 22);
  }

  #imgcard{

    border-radius: 150px;
  }



  #carousel1{

    display: grid;
    grid-template-columns: auto auto auto;
  }


  #carousel2{

    display: grid;
    grid-template-columns: auto auto auto;
  }


  #carousel3{

    display: grid;
    grid-template-columns: auto auto auto;
  }

  