
body{
    width: 90%;
    background-color:rgb(236, 236, 236);
}
#img{
    height: 110px;
    width: 115px;
    border-radius: 100px;
    border: 1px solid #000000;

}

#button1{
    font-size: x-large;

}
.nav-item:hover{
background-color: rgb(4, 236, 128);
border-radius: 50px;
--moz-transform: scale(1.1);
-webkit-transform: scale(1.1);
-o-transform: scale(1.1);
-ms-transform: scale(1.1);
transform: scale(1.1);
}

#navbarSupportedContent{
    padding-left: 60px;
}

#grid1{
    margin-left: 70px;
    margin-top: 90px;
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
}
#section1{
    margin-top: 120px;
    margin-left: 40px;
  padding-left: 90px;
}
#section2{
    margin-right: 45px;
}

#navbar{

    width: 1340px;
    margin-left: 5px;
margin-right: 5px;    
}
#img2{
 width: 610px;
 height: 600px;
padding-top: 5px;
}

.d-flex{
    margin-right: 50px;
}

.btn-primary{
    margin-left: 5px;
    margin-top: 20px;
   font-size: x-large;
   background-color: rgb(4, 221, 120);
   border-radius: 30px;
  padding: 7px 10px 9px 0px;
}


.btn-primary:hover{
    background-color: rgba(0, 195, 255, 0.87);
}

.nav-item{
    margin-left: 25px;
}


.bg-light{
background-color: rgb(136, 127, 255);
}


/*footer*/
.border-light{
    width: 1340px;
   padding-right: 50px;
   
   margin-left: -65px;
}

.footer{
    text-align:justify;
 
}

.border-light-subtle{
    width: 1340px;
    margin-left: -65px;
        height: 110px;

}
.btn-primary{

    width: 200px;
  
}


#carouselExampleControls{
   left: 115px;
}

#face1{
    display: grid;
    grid-template-columns: auto auto auto ;
    
}
#face2{
    display: grid;
    grid-template-columns: auto auto auto ;
}
#face3{
    display: grid;
    grid-template-columns: auto auto auto ;
}
.carousel-control-prev-icon{
    margin-left: -250px;


}
.carousel-inner{
    margin-top: 110px;
}
.card-img-top{

    width: 250px;
    height: 240px;
    margin-left: 15px;
    margin-top: 10px;
    
}
.card-img-top:hover{
    -moz-transform: scale(1.1);
-webkit-transform: scale(1.1);
-o-transform: scale(1.1);
-ms-transform: scale(1.1);
transform: scale(1.1);
transition: 1ms;
}

.card{
    border-radius: 20px;
    background-color:rgb(252, 252, 252,.4);
}

#catalog{
  margin-bottom: 20px;
  font-weight: lighter;
  margin-left: 460px;
  color: rgb(6, 163, 6);
}
#catalog2{
    margin-bottom: 80px;
    font-weight:bold;
    margin-left: 260px;
    text-shadow: 2px 2px 20px #3DCE15;
  }

  
  #catalog2:hover{
    color: rgb(22, 180, 22);
  }

  #imgcard{

    border-radius: 150px;
  }

/*juise*/

  #carousel1{

    display: grid;
    grid-template-columns: auto auto auto;
    margin-left: 5px;

  }


  #carousel2{

    display: grid;
    grid-template-columns: auto auto auto;
    margin-left: 5px;

    
  }


  #carousel3{

    display: grid;
    grid-template-columns: auto auto auto;
    margin-left: 5px;


    
  }

  
 #carsul2{

    margin-bottom: 100px;
    margin-top: 150px;
    margin-left: 100px;
    
 }



#revers{

   margin-top: 170px;
    margin-left: -155px;
    left: 1px;
}
#next{
     margin-top: 170px;
  
}

.revers{

    margin-top: 170px;
    margin-left: -270px;

 }
 .next{
      margin-top: 170px;
  
 }


#card1{
    left:27px

}

#card2{
    left:15px

}

#shop{

    width: 65px;
    height: 50px;
  
margin-bottom: 0.77px;
border-radius: 18px 1px;
margin-left: 221px;
text-align: center;
}





.card2{
    margin-left: -105px;
}
.card3{
    margin-left: -105px;
}
#carouselExampleFade{
    margin-left: 70px;
}
#carouselExampleControls{
    margin-left: 40px;
}
.bi-cart4{
margin-top: 15px;

}




/* Payment*/

.cart {
    border: 1px solid #ffffff;
    background-color:rgb(240, 248, 255) ;
    border-radius: 10px;
    padding: 25px;
   margin-left: 470PX;
    top: 450px;
    right: 10px;
    width: 270px;
    margin-bottom: 100px;
    }

    .checkout{
        border-radius: 5px;
    }

    .checkout:hover{
        background-color: rgb(6, 209, 209);
    }


#img3{
    width: 470px;
    height: 485px;
    border-radius: 10px;
    margin-left: 40px;
}
#sec2{
    margin-top: 80px;
}

#grid2{
    margin-left: 90px;
    margin-top: 170px;
    display: grid;
    grid-template-columns:auto auto;
    gap:30px;
    margin-bottom: 180px;
}


#a{
color: #3DCE15;
font-size:xxx-large;
font-weight: bolder;
margin-left: 60px;


}


#b{
    margin-left: 65px;
  margin-top: 20px;
  font-weight: bolder;
}

#c{
    font-size: larger;
    margin-left: 65px;
    margin-top: 20px;
}


/*newcard*/
#CardBody{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 15px;
    text-align: center;
    font-size: larger;
    margin-bottom: 50px;
}





/*responsive*/
@media only screen and (min-width: 450px) and (max-width: 550px){
   
  #navbar{
    width: 231%;
    margin-left: 5px;
    margin-top: 5px;
  }

   

  #grid1{
    margin-left: -60px;
  }


  #img{
    margin-left: 5px;
   
  }

  #button1{
    margin-left: -18%;
  }


  #img3{
    margin-top: 100px;
    margin-left: -10px;
    
  }

  #a{
 margin-left:25% ;
 font-size: xxx-large;

    
  }
  #b{
    margin-left:25% ;
    font-size: xx-large;
  }

  #c{
    font-size: x-large;
  
  }

#grid2{
    margin-top: 40px;
    margin-left: 190px;
    display: grid;
    grid-template-columns: auto;
}

#button1{
    width: 150px;
    text-align: center;
}


.border-light{
    width: 231%;
    margin-left: 5px;
    margin-top: 5px;
}

.border-light-subtle{
    width: 231%;
    margin-left: 5px;
    margin-top: 5px;
}

}

