
/*navbar*/
.bg-light{
  background-color: rgb(136, 127, 255);
  }

  #navbarSupportedContent{
    padding-left: 60px;
}

#navbar{

  width: 1363px;
  margin-left: -19px;
  margin-top: 7px;
  height: 90px;
}

#img{
  height: 78px;
  width: 80px;
  border-radius: 100px;
  border: 1px solid #000000;
  margin-left: 20PX;

}


#navbarSupportedContent{
  padding-left: 60px;
}


.nav-item:hover{
  background-color: rgb(4, 236, 128);
  border-radius: 50px;
  --moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  }
  
  .nav-item{
    margin-left: 25px;
}


#itemnavbar{
  font-size: x-large;
   color: black;
   

}

.d-flex{
  margin-right: 50px;
}


/*body*/

.gradient-custom {
  /* fallback for old browsers */
  background: #65f689;
  
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right bottom, rgb(101, 246, 135), rgb(101, 246, 135));
  
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right bottom,rgb(101, 246, 135), rgb(101, 246, 135))
  }
  #imgprofile{
    width: 100px;
    height: 100px;
    margin-top: 50px;
    margin-bottom: 30px;
    border-radius: 50px;
  }